.row{
    padding: 8px;
}

.side-profile-img{
    height: 50px;
    width: 50px;
    margin: auto;
    object-fit: cover;
}

.link-item{
    text-decoration: none !important;
    margin: auto;
}

.p-item{
    margin: auto;
}
